<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

    <!-- 开启AspetctJ 的注解开发，自动代理 -->
    <aop:aspectj-autoproxy />

    <!-- 目标类 -->
    <bean id="productDao" class="com.test.aspectJ.demo1.ProductDao" />

    <!-- 定义切面 -->
    <bean class="com.test.aspectJ.demo1.MyAspectAnno" />

</beans>