<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置目标类 -->
    <bean id="customerDao" class="com.test.aop.demo4.CustomerDao" />

    <!-- 配置通知 -->
    <bean id="myAroundAdvice" class="com.test.aop.demo4.MyAroundAdvice" />

    <!-- 一般的切面是使用通知作为切面的，因为要对目标类的某个方法进行增强就需要配置一个带有切入点的切面 -->
    <bean id="myAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <!-- pattern 中配置正则表达式：. 任意字符 * 任意次数-->
        <!--<property name="pattern" value=".*save.*" />-->
        <property name="patterns" value=".*save.*,.*delete.*" />
        <property name="advice" ref="myAroundAdvice" />
    </bean>

    <!-- 配置产生代理 -->
    <bean id="customerDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerDao" />
        <!-- 代表使用 CGLib 方法 -->
        <property name="proxyTargetClass" value="true" />
        <property name="interceptorNames" value="myAdvisor" />
    </bean>

</beans>